<?xml version='1.0' encoding='utf-8'?>
<robot name="base">
    <link name="base_link-v6">
        <inertial>
            <origin xyz="2.3553741432180777e-07 2.224092921723409e-05 0.003026303676307155" rpy="0.0 0.0 0.0" />
            <mass value="0.7689223035628137" />
            <inertia ixx="0.0010390137355587251" iyy="0.0010400150822437112" izz="0.0020742729104693478" ixy="2.966445125900137e-10" iyz="4.4983354420999026e-10" ixz="-2.2246256263541832e-10" />
        </inertial>
        <visual name="base_link-v6_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="meshes/base_link-v6.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="base_link-v6_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="meshes/base_link-v6.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
</robot>