<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find hexapod)/yaml/hexapod_controller.yaml</parameters>
            <!-- <parameters>/home/waves/ros2_sim/install/hexapod/share/hexapod/yaml/hexapod_controller.yaml</parameters> -->
        </plugin>
    </gazebo>


    <!-- <gazebo reference="coxa_1"><material>Gazebo/DarkGrey</material></gazebo>
    <gazebo reference="femur_1"><material>Gazebo/DarkGrey</material></gazebo> 
    <gazebo reference="tibia_1"><material>Gazebo/FlatBlack</material></gazebo>
    <gazebo reference="coxa_2"><material>Gazebo/DarkGrey</material></gazebo>
    <gazebo reference="femur_2"><material>Gazebo/DarkGrey</material></gazebo>
    <gazebo reference="tibia_2"><material>Gazebo/FlatBlack</material></gazebo>
    <gazebo reference="coxa_3"><material>Gazebo/DarkGrey</material></gazebo>
    <gazebo reference="femur_3"><material>Gazebo/DarkGrey</material></gazebo>
    <gazebo reference="tibia_3"><material>Gazebo/FlatBlack</material></gazebo>
    <gazebo reference="coxa_4"><material>Gazebo/DarkGrey</material></gazebo>
    <gazebo reference="femur_4"><material>Gazebo/DarkGrey</material></gazebo>
    <gazebo reference="tibia_4"><material>Gazebo/FlatBlack</material></gazebo>
    <gazebo reference="coxa_5"><material>Gazebo/DarkGrey</material></gazebo>
    <gazebo reference="femur_5"><material>Gazebo/DarkGrey</material></gazebo>
    <gazebo reference="tibia_5"><material>Gazebo/FlatBlack</material></gazebo>
    <gazebo reference="coxa_6"><material>Gazebo/DarkGrey</material></gazebo>
    <gazebo reference="femur_6"><material>Gazebo/DarkGrey</material></gazebo>
    <gazebo reference="tibia_6"><material>Gazebo/FlatBlack</material></gazebo> -->



    <!-- <transmission name="coxa_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="coxa_base_1">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <actuator name="coxa_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="femur_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="femur_base_1">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <actuator name="femur_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission> -->

    <transmission name="tibia_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="tibia_base_1">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <actuator name="tibia_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

</robot>